@import url('bootstrap/dist/css/bootstrap.css');

:root {
  --primary: #c0c0c0;
  --secondary: #ececec;
  --tertiary: #333333;
  --body-bg: #171717;

  --max-width: 1100px;
  --border-radius: 12px;

  --threads-bg: radial-gradient(circle at 30% 107%,
      #ffd600 0%,
      #ffd600 10%,
      #ff7a00 20%,
      #ff0069 50%,
      #d300c5 75%,
      #7638fa 90%);
  --linkedin-bg: #0077B5;
  --github-bg: #333333;
  --email-bg: radial-gradient(circle at 30% 107%, var(--secondary) 0%, var(--primary) 30%, black 70%);

  --gradient: radial-gradient(circle at 30% 107%, var(--secondary) 0%, var(--primary) 30%, black 70%);
  --gradient-tl: linear-gradient(135deg, var(--secondary) 0%, black 50%, var(--secondary) 100%);
  --gradient-br: linear-gradient(135deg, black 0%, var(--secondary) 50%, black 100%);

  --primary-glow: conic-gradient(from 180deg at 50% 50%,
      #7C7C7C33 0deg,
      #71717133 55deg,
      #9E9E9E33 120deg,
      #5E5E5E33 160deg,
      transparent 360deg);
  --secondary-glow: radial-gradient(#ffffff,
      #ffffff00);
}

html,
body {
  background: var(--body-bg);
}

h1 {
  font-size: 2rem !important;
}

h2 {
  font-size: 1.5rem !important;
}

.text-primary {
  color: var(--primary) !important;
}

.frame-bg {
  background: var(--body-bg);
  position: absolute;
  z-index: 1;
  margin: 30px;
}

.frame-bg::before {
  content: " ";
  width: 180px;
  height: 180px;
  background: var(--gradient-tl);
  z-index: -1;
  border-top-left-radius: 2.5rem;
  position: absolute;
  top: -3px;
  left: -3px;
}

.frame-bg::after {
  content: " ";
  width: 180px;
  height: 180px;
  background: var(--gradient-br);
  z-index: -1;
  border-bottom-right-radius: 2.5rem;
  position: absolute;
  bottom: -3px;
  right: -3px;
}

.framed-bg {
  min-height: calc(100vh - 60px);
  background: var(--body-bg);
  border-radius: 2.4rem;
  padding: 30px 45px;
}

.pfp-bg {
  width: 72px;
  height: 72px;
  padding: 3px 3px;
  border-radius: 50% !important;
  background: var(--email-bg) !important;
}

a, .btn-link {
  color: var(--primary);
  text-decoration: none !important;
  border-bottom: 1px dotted var(--primary);
}

a:hover {
  color: white;
  border-bottom: none;
}

a:hover {
  color: white;
  border-bottom: none;
}

.btn-social {
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  outline: 2px solid #ececec;
  cursor: pointer;
  transition: all 0.3s;
  display: grid !important;
  place-items: center !important;
  text-decoration: none !important;
}

.btn-social:hover {
  outline-offset: 3px;
  transition: all 0.3s;
}

.btn-social img {
  transition: all 0.3s;
}

.btn-social:hover img {
  transform: scale(1.15);
}

.btn-social:hover:nth-child(1) {
  background: var(--threads-bg)
}

.btn-social:hover:nth-child(2) {
  background: var(--linkedin-bg);
}

.btn-social:hover:nth-child(3) {
  background: var(--github-bg);
}

.btn-social:hover:nth-child(4) {
  background: var(--email-bg);
}

.center::before {
  place-items: center;
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: "";
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}
