
<div class="section">
    <h1 class="heading heading-section">
        [Contact]
    </h1>

    <div class="text-muted">
        <p>
            Reach out and connect with me.
        </p>
    </div>

    <div class="about-container">
        <div class="about-content">
            <h2 class="heading heading-subsection">
                _socials
            </h2>

            <div class="d-flex flex-row">
                <a href="https://threads.net/@@thevictorfryeadventure" target="_blank" class="btn-link">
                    <img src="/images/threads.svg" alt="Threads" class="social-icon m-2">
                </a>
                <a href="https://linkedin.com/in/victorfrye" target="_blank" class="btn-link">
                    <img src="/images/linkedin.svg" alt="LinkedIn" class="social-icon m-2">
                </a>
                <a href="https://github.com/victorfrye" target="_blank" class="btn-link">
                    <img src="/images/github.svg" alt="GitHub" class="social-icon m-2">
                </a>
                <a href="mailto:victorfrye@outlook.com" target="_blank" class="btn-link">
                    <img src="/images/envelope.svg" alt="Email Me" class="social-icon m-2">
                </a>
            </div>
        </div>
    </div>
</div>