@page "/contact"
@rendermode InteractiveServer

<PageTitle>Contact | Victor Frye</PageTitle>

<section id="contact" class="section-wrapper">
    <div class="section">
        <h1 class="heading heading-section">
            Reach out.
        </h1>

        <div>
            <p>

            </p>
        </div>
    </div>
</section>