<section id="hero" class="home-hero pt-5">
    <div class=>
        <div class="hero-heading">
            <h1 class="heading heading-primary">
                [Welcome]
            </h1>
        </div>
        

        <span class="hero-subtitle accent-bar">
            <p>
                Hey! <strong>I'm Victor, your friendly neighborhood technologist</strong>. Powered by coffee, I work as
                a <strong>developer</strong> on full-stack software projects. My current focuses are the .NET ecosystem,
                Azure cloud services, and DevOps automation.
            </p>
            <p>
                I'm passionate about <strong>digital transformation</strong>, the <strong>developer experience</strong>,
                and constructing solutions that help people <strong>achieve more</strong>.
            </p>
        </span>

    </div>
</section>