.home-hero {
    background-position: center;
    height: 100vh;
    min-height: 60rem;
    max-height: calc(100vh-3rem);
    position: relative;
}

.hero-img {
    padding: 30px 30px;
    display: flex;
    justify-content: center;
}

.hero-heading {
    display: flex;
    
}

.hero-subtitle {
    margin-left: 30px;
    font-size: 1.2rem;
    position: relative;
    line-height: 1.6rem;
    display: block;
}