@page "/"

<PageTitle>Victor Frye</PageTitle>

<div>
    <Hero />

    <section id="about" class="section-wrapper pb-4">
        <About />
    </section>

    <section id="projects" class="section-wrapper py-4">
        <Projects />
    </section>

    <section id="contact" class="section-wrapper py-4">
        <Contact />
    </section>
</div>