@page "/"

<PageTitle>Home</PageTitle>

<h1>Coming Soon!</h1>

<p>
    <strong>VictorFrye.com is currently under construction</strong>. Please check back soon or <a href="mailto:victorfrye@outlook.com">email me</a> if you want to get in touch.
</p>
