@page "/"

<PageTitle>Victor Frye</PageTitle>

<div class="d-flex flex-column justify-content-center frame">
    <div class="framed">
        <Banner />
        <About />
        <Connect />
    </div>
</div>