@page "/projects"
@rendermode InteractiveServer

<PageTitle>Projects | Victor Frye</PageTitle>

<section id="projects" class="section-wrapper">
    <div class="section">
        <h1 class=" heading heading-section">
        Projects.
        </h1>

        <div>
            <div class="about-content">
                <p>
                    The following are some side projects I have created.
                </p>
            </div>

            <Project
                Title="this"
                Summary="My personal website and exploratory sandbox into web development, .NET Blazor, and self-hosting a website. The functional intent is to serve as a landing for my portfolio."
                Link="https://github.com/victorfrye/dotcom"
            />

            <Project
                Title="dotfiles"
                Summary="My dotfiles are a collection of scripts and files that I use to set up my Windows development environment. This was my first personal project with a functional purpose."
                Link="https://github.com/victorfrye/dotfiles"
            />

            <Project
                Title="necropolis"
                Summary="COMING SOON..."
                Link="https://github.com/victorfrye"
            />
        </div>
    </div>
</section>