@inject TimeProvider Time

<FluentDivider Role="DividerRole.Presentation" class="footer-divider" />

<footer>
    <FluentStack VerticalAlignment="VerticalAlignment.Center" Wrap class="profile-footer">
        <FluentStack Width="20">
            @foreach (var social in _socials)
            {
                <FluentAnchor Href="@social.UserHref" Appearance="Appearance.Stealth" Rel="noopener noreferrer"
                    Target="_blank" aria-label="@social.Name" class="social-anchor">
                    <FluentIcon Value="@social.Icon" Color="Color.Neutral" />
                </FluentAnchor>
            }
        </FluentStack>

        <FluentSpacer />

        <span class="copyright">
            © Victor Frye @Time.GetLocalNow().Year
        </span>
    </FluentStack>
</footer>

@code {
    private IEnumerable<Social> _socials { get; init; } = Data.SocialMedia.All;
}
