#root {
  --gradient: linear-gradient(0deg, var(--bs-secondary) 0%, black 70%);
  --gradient-tl: linear-gradient(135deg, var(--bs-secondary) 0%, black 50%, var(--bs-secondary) 100%);
  --gradient-br: linear-gradient(135deg, black 0%, var(--bs-secondary) 50%, black 100%);
}

.bg-frame {
  background: var(--bs-body-bg);
  position: absolute;
  z-index: 1;
  margin: 30px;
}

.bg-frame ::before {
  content: " ";
  width: 180px;
  height: 180px;
  background: var(--gradient-tl);
  z-index: -1;
  border-top-left-radius: 2.5rem;
  position: absolute;
  top: -2px;
  left: -2px;
}

.bg-frame ::after {
  content: " ";
  width: 180px;
  height: 180px;
  background: var(--gradient-br);
  z-index: -1;
  border-bottom-right-radius: 2.5rem;
  position: absolute;
  bottom: -2px;
  right: -2px;
}

.bg-framed {
  min-height: calc(100vh - 60px);
  background: var(--bs-body-bg);
  border-radius: 2.4rem;
  padding: 30px 45px;
}

.bg-gradient-circle {
  width: 72px;
  height: 72px;
  padding: 3px 3px;
  border-radius: 50%;
  background: var(--gradient) !important;
}

.social-icon {
  height: 24px;
  width: 24px;
}

a {
  color: var(--bs-primary);
  text-decoration-line: none;
  /* text-decoration: dotted ; */
  /* border-bottom: 1px dotted var(--bs-primary); */
}

/* a,
.btn-link {
  color: var(--bs-secondary);
  text-decoration: none;
  border-bottom: 1px dotted var(--bs-secondary);
}

.btn-link {
  fill: var(--bs-secondary);
  border-bottom: none;
} */