<header>
    <FluentStack class="profile-header">
        <FluentPersona Image="/images/profile.png" ImageSize="72px" />
        <FluentStack Orientation=Orientation.Vertical VerticalGap="8">
            <h1 class="profile-title">Victor Frye</h1>
            <em class="profile-tagline">Your friendly neighborhood developer</em>
        </FluentStack>
    </FluentStack>
</header>
