<div class="d-flex flex-wrap">
    @foreach (var skill in Skills)
    {
        @SkillTemplate(skill)
    }
</div>

@code {
    [Parameter]
    public IList<string> Skills { get; set; } = [];

    RenderFragment<string> SkillTemplate = (skill) => @<div class='skills-item px-3 py-2 m-2 rounded text-light'>@skill</div>;
}