<section id="about">
    <div class="d-flex flex-wrap text-muted">
        <h5 class="text-light pt-3 pb-2">_About</h5>

        <p>
            Hello from Grand Rapids! <strong>I'm Victor, a software engineer powered by coffee</strong>.
            With @GetYearsOfExperience() years of professional experience, I've worked with a variety of technologies and platforms.
            My current focuses are the <strong>.NET</strong> ecosystem, <strong>Azure</strong> cloud services, and <strong>DevOps</strong> automation.
        </p>
        <p>
            I'm passionate about <strong>digital transformation</strong>, the <strong>developer experience</strong>,
            and constructing solutions that help people <strong>achieve more</strong>.
        </p>
        <p>
            I'm currently working as a <strong>Senior Solutions Developer at <a href="https://leadingedje.com/">Leading EDJE</a></strong>,
            a software consultancy based in Columbus, Ohio.
            In my downtime, I enjoy <strong>gaming</strong>, <strong>reading</strong>, and quality time with <strong>my
                @GetPartnerRelationship() and our two dogs</strong>.
        </p>
    </div>
</section>

@code {
    private readonly DateTime _today = DateTime.Now;
    private readonly DateTime _start = new DateTime(2019, 5, 6);
    private readonly DateTime _wedding = new DateTime(2024, 1, 6);

    private const string Married = "wife";
    private const string Engaged = "fiancée";

    private int GetYearsOfExperience() {

        if (_today.Month < _start.Month || (_today.Month == _start.Month && _today.Day < _start.Day))
        {
            return (_today.Year - _start.Year) - 1;
        }
        
        return _today.Year - _start.Year;
    }

    private string GetPartnerRelationship() => _today > _wedding ? Married : Engaged;
}
