<section id="connect">
    <div class="d-flex flex-column flex-wrap">
        <h2 class="text-primary pt-3 pb-2">_Connect</h2>

        <SocialButtons Socials=@_socials />
    </div>
</section>

@code {
    private List<Social> _socials =
    [
        new(
            name: "Threads",
            userUrl: "https://threads.net/@thevictorfryeadventure",
            iconUrl: "/images/threads.svg"
        ),
        new(
            name: "LinkedIn",
            userUrl: "https://linkedin.com/in/victorfrye",
            iconUrl: "/images/linkedin.svg"
        ),
        new(
            name: "GitHub",
            userUrl: "https://github.com/victorfrye",
            iconUrl: "/images/github.svg"
        ),
        new(
            name: "Email",
            userUrl: "mailto:victorfrye@outlook.com",
            iconUrl: "/images/envelope.svg"
        )
    ];
}
