:root {

    --threads: radial-gradient(circle farthest-corner at 35% 90%, #ffd600 0%, #ffd600 5%, #ff7a00 45%, #ff0069 60%, #d300c5 80%, #7638fa 95%);
    --linkedin: #0077B5;
    --github: #333;
    --email: var(--gradient);
}

.d-socials {
    gap: 1rem;
}

.btn-link {
    fill: var(--primary);
    border-bottom: none;
}

.img-social {
    height: 20px;
    width: 20px;
}

.btn-social {
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    outline: 2px solid var(--secondary);
    cursor: pointer;
    transition: all 0.3s;
    display: grid;
    place-items: center;

    fill: var(--primary);
    border-bottom: none;
}

.btn-social:hover {
    outline-offset: 3px;
    transition: all 0.3s;
}

.btn-social img {
    transition: all 0.3s;
}

.btn-social:hover img {
    transform: scale(1.15);
}

.btn-social:hover:nth-child(1) {
    background: radial-gradient(circle at 30% 107%, #ffd600 0%, #ffd600 10%, #ff7a00 20%, #ff0069 50%, #d300c5 75%, #7638fa 90%);
}

.btn-social:hover:nth-child(2) {
    background: #0077B5;
}

.btn-social:hover:nth-child(3) {
    background: #333;
}

.btn-social:hover:nth-child(4) {
    background: var(--gradient);
}