@inherits LayoutComponentBase

<div class="d-flex flex-column min-vh-100">

    <div class="d-flex flex-column mb-auto frame-bg">
        <div class="d-flex flex-column framed-bg text-light">
            <main class="">
                @Body
            </main>

            <footer class="d-flex justify-content-end mt-auto p-3">
                ©2024 Victor Frye
            </footer>
        </div>
    </div>
    
</div>
