@inherits LayoutComponentBase

<div class="d-flex flex-column min-vh-100">
    <main class="mb-auto min-vh-80">
        @Body
    </main>

    <footer class="d-flex justify-content-center text-light p-3">
        ©2023 Victor Frye
    </footer>
    
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
