@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <small><em>Your Friendly Neighborhood Technologist</em></small>
            <a href="https://threads.net/@@thevictorfryeadventure" target="_blank" >
                <img src="images/threads.svg" alt="Threads" class="btn-link" />
            </a>
            <a href="https://linkedin.com/in/victorfrye" target="_blank">
                <img src="images/linkedin.svg" alt="LinkedIn" class="btn-link" />
            </a>
            <a href="https://github.com/victorfrye" target="_blank">
                <img src="images/github.svg" alt="GitHub" class="btn-link" />
            </a>
            <a href="mailto:victorfrye@outlook.com" target="_blank">
                <FluentIcon class="btn-link" Value="@(new Icons.Filled.Size20.Mail())" Color="@Color.FillInverse" />
            </a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
