<section id="connect">
    <div class="d-flex flex-column flex-wrap">
        <h5 class="text-light pt-3 pb-2">_Connect</h5>

        <div class="d-flex flex-row">
            <a href="https://threads.net/@@thevictorfryeadventure" target="_blank" class="btn-link">
                <img src="/images/threads.svg" alt="Threads" class="social-icon m-1">
            </a>
            <a href="https://linkedin.com/in/victorfrye" target="_blank" class="btn-link">
                <img src="/images/linkedin.svg" alt="LinkedIn" class="social-icon m-1">
            </a>
            <a href="https://github.com/victorfrye" target="_blank" class="btn-link">
                <img src="/images/github.svg" alt="GitHub" class="social-icon m-1">
            </a>
            <a href="mailto:victorfrye@outlook.com" target="_blank" class="btn-link">
                <img src="/images/envelope.svg" alt="Email Me" class="social-icon m-1">
            </a>
        </div>
    </div>
</section>